
<%= form_for @customer do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :Age %>
      <%= f.text_field :age %>
    </div>
    <div class="field">
      <%= f.label :Address %>
      <%= f.text_field :address %>
    </div>
    <div class="field">
    <%= f.label :Phone_NO %>
    <%= f.number_field :phone%>
  </div>
    <div class="actions">
      <%= f.submit 'ADD customer' %>
    </div>
  <% end %>

  