<div id="<%= dom_id saledetail %>">
  <p>
    <strong>Product:</strong>
    <%= saledetail.product_id %>
  </p>

  <p>
    <strong>Sale:</strong>
    <%= saledetail.sale_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= saledetail.quantity %>
  </p>

  <p>
    <strong>Price per unit:</strong>
    <%= saledetail.price_per_unit %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= saledetail.total_price %>
  </p>

</div>
