
<%= form_for @product do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <%= f.number_field :price, step: '0.01' %>
    </div>
    <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category" %>
  </div>
    <div class="actions">
      <%= f.submit 'Save Product' %>
    </div>
  <% end %>

  