<div id="<%= dom_id sale %>">
  <p>
    <strong>Date:</strong>
    <%= sale.date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= sale.total_amount %>
  </p>

  <p>
    <strong>Total products:</strong>
    <%= sale.total_products %>
  </p>


  <p>
  <strong>BILL DETAILS:</strong>
  <ul>
  <% sale.saledetails.each do |task| %>
    <li>
     
     <div>
  <label for="product_id">Product ID-------></label>
  <%= task.product_id %>
</div>

<div>
  <label for="price_per_unit">Price per Unit------->:</label>
  <%= task.price_per_unit %>
</div>

<div>
  <label for="total_price">Total Price------->:</label>
  <%= task.total_price %>
</div>
<br><br>
    </li>
    <% end %>
    </ul>
    </p>

</div>
