<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
<%= f.label :product_id %>
<%= f.collection_select :product_id, Product.all, :id, :name, prompt: "Select a product" %>
<%= f.label :quantity %>
<%= f.number_field :quantity %>
<%= f.label :price_per_unit  %>
<%= f.number_field :price_per_unit %>
<%= f.label :total_price %>
<%= f.number_field :total_price, class: "total-price-field" %>
<button type="button" data-action="nested-form#remove"> Remove task</button>
<%= f.hidden_field :_destroy %> 