<div id="<%= dom_id sale %>">
<table border="1">
        <tr>
        <th>Date</th>
        <th>Total Amount</th>
        <th>Total Products</th>
        <th> Products_DEtails </th>
      </tr>
  <tr>
  
    <td><%= sale.date %></td>
    <td><%= sale.total_amount %></td>
    <td><%= sale.total_products %></td>
    <td>ALL Products:
    <table border="1">
      <tr>
        <th>Product ID</th>
        <th>Price per Unit</th>
        <th>Total Price</th>
      </tr>
      <% sale.saledetails.each do |task| %>
        <tr>
          <td><%= task.product_id %></td>
          <td><%= task.price_per_unit %></td>
          <td><%= task.total_price %></td>
        </tr>
      <% end %>
    </table></td>
  </tr>
</table>
</div>
